.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 40px;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.header__logo {
  /* margin-right: 24px; */
  width: 89px;
  height: 40px;
  display: flex;
  align-items: center;
}
.header__username {
  margin: 8px 0 7px 0;
  width: auto;
}

.header__date-and-location {
  margin: 0;
  margin-left: 20px;
  padding-top: 11px;
  padding-bottom: 5px;
}

.header__add-clothes-btn {
  margin: 8px 20px 8px 20px;
  border: none;
  background-color: transparent;
  width: 116px;
  height: 24px;
  padding: 0;
  /* width: 100%; */
  color: #000000;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__link {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 7px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__guest-nav {
  padding-left: 20px;
  display: flex;
  gap: 20px;
}

.header__signin {
  padding-left: 0px;
  color: #000000;
  border: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.header__signup {
  color: #000000;
  border: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
