.sidebar {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-right: 116px;
  gap: 16px;
  max-width: 229px;
  max-height: 56px;
}

.sidebar__username {
  width: 157px;
  height: 28px;
  line-height: 24.8px;
  margin: 0;
}
